@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'roboto';
  background-color: rgb(220, 217, 213);
}
.container--notification_card{
display: flex;
flex-direction: column;
background-color: rgb(255, 255, 255);
border-radius: 0;
margin-block: 0;
margin-inline: 0;
overflow: hidden;
height: 100vh;
}
.notified{
background-color: rgb(255, 255, 255);
flex-wrap: 1;
display: flex;
justify-content: space-between;
padding: 1rem 1rem 1rem 1rem ;
}

.notified-title{

}
.notified-title span{
  background-color: rgb(2, 1, 93);
  padding: 0.15rem 0.9rem;
  border-radius: 10px;
  color: white;
}
.mark-all-notified{
  color: rgb(51, 51, 51);
  transition: 0.2s;
  cursor: pointer;
}
.mark-all-notified:hover{
color: black;

}
.notifications-people{
  border-radius: 10px;
  margin-block: 0.5rem;
  display: flex; 
  flex-direction: column;
  overflow-y: scroll; 
  scroll-snap-type: y mandatory;
}

.notified-person{
scroll-snap-align: start; 
background-color: rgb(245, 245, 245);
display: flex;
align-items: center;
justify-content: start;
border-radius: 10px;
margin-inline: 1rem;
margin-block: 0.5rem;
padding-block: 1rem;
padding-inline: 0.2rem;
cursor: pointer;
transition: 0.5s ease-in-out;
}
.person-photo{
  inline-size: 6ch;
}
.name-text{
margin-inline-start: 1rem;
}
.person-text{
  font-size: calc(0.5rem + 1vw);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0 0.1rem;
  flex-wrap: wrap;
}
.time-reaction{
color: rgb(135, 135, 135);
}
.reaction{
  color: rgb(77, 77, 77);
}
.notviews{
  display: inline-block;
  margin-inline-start: 0.2rem;
  color: rgb(0, 0, 0);
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}
@media screen and (min-width: 767px) {
  .container--notification_card{
  margin-inline: calc(2rem + 10vw);
  margin-block: 5rem 10rem;
  border-radius: 20px;
  height: 500px;
  }  
  .notifications-people{
    margin-inline: 1rem;
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
  }
}
